<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MIRS2403ホームページ</title>
        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        <div id = container >

            <!--見出し-
            ------------------------------------------------------------------>
            <header>
                <h1>MIRS2403</h1>
            </header>

            <!--メニューバー
            ------------------------------------------------------------------>
            <nav id="menubar">
                <ul>
                    <li><a href="index.html">椅子の配置指令</a></li>
                    <li><a href="collect.html">椅子の回収指令</a></li>
                    <li><a href="https://www2.denshi.numazu-ct.ac.jp/mirsdoc2/mirs2403/">2403管理台帳</a></li>
                </ul>
            </nav>
             <!--作業ボタン
            ------------------------------------------------------------------->
            <h2>回収作業開始</h2>
            <div class ="center">
                <button type="button" class="start-button" onclick="startArrangement()">開始</button>
                    <button type="button" class="stop-button" onclick="stopArrangement()">中断</button>
            </div>
        </div>
    </body>
</html>